.Hospcol {
     display: flex;
     justify-content: center; /* Center the images horizontally */
     align-items: center; /* Center the images vertically */
     padding: 50px 20px;
     height: 80vh; /* Make the container full height for better centering */
     overflow: hidden; /* Prevents overflow issues */
     position: relative; 
     margin: 90px 10px ;
    background-color: var(--one);
   

 }
 
 .Hospcol-image {
     position: absolute; /* Position images absolutely for overlapping */
     transition: transform 0.3s ease; /* Smooth transition for image movement */

 
 }
 
 .Hospcol-image img {
     max-width: 40%; /* Set a max width for images */
     height: auto;
     border-radius: 50%; /* Optional: round the images */
     background: rgb(8, 8, 58);
 }
 
 .topService{
margin: 20px 30px;
 }
 

