.modal-overlay {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(14, 151, 185, 0.5); /* Dark background */
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1000; /* Ensure it's above other content */

   
 }
 

 
 .form-group {
     margin-bottom: 15px;

 }
 .modal-conten{
    background-color: rgb(7, 4, 43);
    padding: 50px 40px;
    color: aliceblue;
    border-radius: 10px;
 }
 
 form input{
    border: none;
    /* box-shadow: 0 1px 1px white; */
    /* margin: 20px 0; */
    outline: none;
    padding: 5px;
    margin: 10px 0;
    
 }
 .label {
     display: block;
     margin-bottom: 10px;
 }
 

 .submit{
     background-color: rgb(0, 0, 0);
     width: 100%;
     padding: 5px 0;
     border: none;
     cursor: pointer;
     color: rgb(255, 255, 255);
 }
 .submit:hover{
transform: scaleX(1.1);
transition: 0.6;
 }
 .close-button:hover {
     background-color: #2e242496; /* Darker red on hover */
 }